@import "tailwindcss";

html,
body,
#app {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.main-container {
  background-color: var(--color-primary);
}

.content-container {
  background-color: var(--color-background);
}

.color-grey-details {
    color: var(--color-grey);
    cursor: pointer;
}


.color-grey-details:hover {
    color: var(--color-primary);
}

.button-sidebar{
    background-color: transparent;
    width: 200px;
    padding: 20px;
    border-radius: 16px 0px 0px 16px;
}

.button-sidebar.router-link-active,
.button-sidebar.router-link-exact-active {
    background-color: var(--color-background) !important;
    color: var(--color-primary) !important;
}


.button-sidebar:hover{
    color: #ffffff;
}

.p-datatable-header {
  border-bottom: none !important;
}


.text-small-grey {
    color: #8c8c8c;       
  font-size: 0.875rem;  
  line-height: 1.25rem;
}

/*Geral*/
.style-table {
  border-radius: 16px;         
  overflow: hidden;            
  border: 1px solid #cad5e2; 
  background-color: #ffffff;
}

/*Email*/

.table-email{
  border: 1px solid #cad5e2; 
  border-radius: 16px;
  background: #ffffff;
}

.email-table {
  border-radius: 16px;         
  overflow: hidden;            
  border: 1px solid #cad5e2;  
  background: #ffffff;
}

.email-table table,
.email-table table td,
.email-table table th,
.email-table .p-datatable-tbody > tr,
.email-table .p-datatable-wrapper {
  border: none !important;
}

/* Remove o header */
.email-table .p-datatable-thead > tr > th,
.email-table .p-datatable-header-cell {
  display: none !important;
}

.line-hr {
  color: #cad5e2;   
}

.text-form-title{
  color: var(--color-grey-forms); 
}

.text-form-value {
  color: var(--color-text-black);
}


.subject-column .p-cell {
  white-space: normal !important;    
  word-break: break-word !important;
}

.table-email {
  cursor: pointer;
  transition: background-color 0.2s;
}

.table-email:hover {
  background-color: rgba(140, 140, 140, 0.2);
}

.subject {
  display: -webkit-box;        
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;       
  overflow: hidden;          
  text-overflow: ellipsis;   
  word-break: break-word;    
  white-space: normal;         
  transition: all 0.2s;
}

.table-email.expanded .subject {
  -webkit-line-clamp: unset;
  overflow: visible;
}



/* Remove margem/padding das células */
.style-table .p-datatable-tbody > tr > td,
.style-table .p-datatable-thead > tr > th {
  padding: 0.74rem 1.5rem; /* ajusta como quiser */
}

/* Se quiser ainda mais compacto */
.style-table .p-datatable-tbody > tr > td {
  line-height: 1.2;
}


.p-button.p-button-success {
    background-color: #dcfce7;
    border: 0;     
    color: #15803d;            
    font-weight: bold;         
}

.p-button.p-button-success .p-button-icon {
    color: #15803d;
}

.p-button.p-button-success:hover .p-button-icon {
    color: #ffffff; 
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 350px;
  margin: 20px auto;
}

.input-container input {
  width: 100%;
  padding: 10px 40px 10px 0; /* espaço para ícone */
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #9a9a9a;
  background: transparent;
  color: #f0f0f0;
  outline: none;
}

.input-container label {
  position: absolute;
  top: 10px;
  left: 0;
  color: #9a9a9a;
  pointer-events: none;
  transition: all 0.3s ease;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #f0f0f0;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #f0f0f0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.input-container input:focus ~ .underline,
.input-container input:valid ~ .underline {
  transform: scaleX(1);
}

/* Ícone Font Awesome de ver/ocultar password */
.icon-password {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #9a9a9a;
  font-size: 18px;
  transition: color 0.2s ease;
}

.icon-password.active {
  color: #f0f0f0;
}