@import "tailwindcss";



.color-grey-details {
    color: var(--color-grey-details);
    cursor: pointer;
}


.color-grey-details:hover {
    color: var(--color-primary);
}

.button-sidebar{
    background-color: transparent;
    width: 200px;
    padding: 20px;
    border-radius: 16px 0px 0px 16px;
}

.button-sidebar.router-link-active,
.button-sidebar.router-link-exact-active {
    background-color: var(--color-background) !important;
    color: var(--color-primary) !important;
}


.button-sidebar:hover{
    color: #ffffff;
}

.p-datatable-header {
  border-bottom: none !important;
}
