:root {
    --color-background: #F0F0F0 ;    
    --color-primary: #22333B;
    --color-grey-details: #d4d4d4;
    /*? Main Components */
    /*? Secondary Components */
    /*? Sidebar Components */
    /*? Other Components */
}
